@import '../../theme/variables.scss';
@import '../../theme/mixins.scss';

.input-primary {
  --f7-list-item-padding-horizontal: 0px;
  --f7-input-outline-border-radius: 30px;
  --f7-input-outline-border-width: 3px;
  --f7-input-outline-border-color: rgba(0, 0, 0, 0.2);
  list-style: none;
  margin-top: 8px;
  border-width: 3px;
  .item-input-outline {
    padding-left: 0px;
    .item-inner {
      padding: 0px;
    }
    .item-input-wrap {
      input {
        font-size: $font-size-big;
      }
      &:after {
        border-width: 2px;
      }
    }
  }
}
