@import '../../theme/variables.scss';
@import '../../theme/mixins.scss';

.login-page {
  &__logo {
    height: 150px;
  }
  &__paragraph {
    text-align: center;
  }
  .app-content {
    margin-top: 32px;
  }
}
