@import '../../theme/variables.scss';

.button-primary.button-fill {
  max-width: 100%;
  margin: auto;
  text-transform: none;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
  border-radius: 40px;
  padding: 16px;
  font-weight: bold;
  font-size: 16px;
  height: auto;
  white-space: pre-wrap;
  margin-top: 16px;
  background: linear-gradient(220deg, $secondary -53.49%, $primary 132.56%);
}
