@import '../../theme/variables.scss';
@import '../../theme/mixins.scss';

a.button-secondary {
  color: $primary;
  max-width: 93%;
  margin: auto;
  text-transform: none;
  border-radius: 8px;
  padding: $default-padding;
  font-weight: bold;
  font-size: $font-size-medium;
  height: auto;
  white-space: pre-wrap;
}
