@import '../../../theme/variables.scss';
@import '../../../theme/mixins.scss';

.driver-license-check-page {
  .page-content {
    background-color: $white-background;
  }
  &__content {
    padding: 16px;
    max-width: 650px;
    margin: auto;
  }
  &__intro {
    font-size: 28px;
    color: $grey-one;
    text-align: left;
    margin: auto;
    font-weight: 600;
    margin-bottom: 32px;
    padding-left: 24px;
    padding-right: 24px;
  }
  &__picture-preview {
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 400px;
    max-width: 400px;
    display: block;
    margin: auto;
    margin-top: -16px;
  }
  .col-25 {
    .item-content.item-input {
      padding-left: 0px;
    }
  }
  &__button-container {
    .button-primary {
      margin-top: 16px;
    }
    .button-secondary {
      margin-top: 8px;
    }
  }
}
