@import '../../theme/variables.scss';
@import '../../theme/mixins.scss';

.ride-destination-page {
  &__item {
    a.button-primary.button-fill {
      margin-top: 24px;
      padding: 1px;
      padding-bottom: 3px;
      padding-left: 3px;
    }
  }
}