@import '../../theme/variables.scss';
.app-content {
  padding: $default-padding;
  max-width: $default-max-width;
  padding-bottom: 80px;
  margin: auto;
  min-height: 100vh;
  text-align: center;
}
