@import './variables.scss';
@import './components.scss';
@import './icons.scss';

* {
  font-family: 'Source Sans Pro', sans-serif !important;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 65%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  html {
    font-size: 60%;
  }
}

div.router-transition {
  .page-current {
    pointer-events: all;
  }
}

.page-content {
  &:before {
    content: ' ';
    display: block;
    position: absolute;
    background-color: $primary;
    height: 160px;
    width: 100%;
    z-index: -1;
  }
}

.device-cordova {
  .page-content {
    &:before {
      height: 172px;
    }
  }
}

.preloader-backdrop {
  opacity: 1;
  background: rgba(0, 0, 0, 0.6);
}

.preloader-modal {
  --f7-preloader-modal-bg-color: transparent;
}

.dialog {
  --f7-dialog-border-radius: 15px;
}
