@import '../../../theme/variables.scss';
@import '../../../theme/mixins.scss';

.add-device-page {
  .page-content {
    background-color: $white-background;
  }
  &__content {
    padding: 16px;
    padding-top: 0px;
    max-width: 650px;
    margin: auto;
  }
  &__intro {
    font-size: 28px;
    color: $grey-one;
    text-align: left;
    margin: auto;
    font-weight: 600;
    padding-left: 24px;
    padding-right: 24px;
  }
  &__illustration {
    height: 150px;
    width: 150px;
    margin: auto;
    display: block;
    border-radius: 50%;
    object-fit: cover;
  }
  &__form {
    --f7-label-text-color: #{transparentize($grey-one, 0.5)};
    &.list {
      margin: 0px;
      margin-top: -16px;
      * {
        background-color: transparent;
      }
      ul {
        &:after,
        &:before {
          display: none;
        }
        input[type='text'] {
          text-align: left;
          font-size: 18px;
          background-color: transparent;
          transition-property: all;
          transition-duration: 250ms;
          &:focus {
            border-bottom: 2px solid $primary;
          }
        }
        .item-input {
          padding-left: 0px;
        }
      }
    }

  }
  &__tips {
    margin-top: 16px;
  }
  &__tip {
    padding: 8px;
    &__picture {
      display: inline-block;
      width: 20%;
      max-width: 70px;
      vertical-align: top;
    }
    &__label {
      display: inline-block;
      width: 80%;
      font-size: 12px;
      padding-top: 0px;
      padding-left: 16px;
      opacity: 0.5;
    }
  }
  .button-primary.button-fill {
    margin-top: 16px;
  }
}
