@import '../../theme/variables.scss';
.app-header {
  color: white;
  margin-top: -16px;
  &__title {
    font-size: $font-size-big;
    font-weight: bold;
  }
  &__content {
    font-size: $font-size-medium;
    margin: auto;
    margin-top: 8px;
    max-width: 200px;
  }
}
